*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, p, a {
    appearance: none;
    font-family: 'Roboto', sans-serif;
    color: aliceblue;
}

h1, p{
    margin-left: 2rem;
}

header, nav, ul {
    display: flex;
    width: fit-content;
}

li {
    list-style: none;
    margin: 2rem;
}

footer {
    position: fixed;
    bottom: 0;
    margin: 2rem 2rem 2rem 0;
}

#webgl {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: -1;
}